{% extends 'base.html' %}
{% block content %}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <h1 class="sm:text-4xl text-4xl font-medium title-font mb-2 text-gray-900">{{about.user}}</h1><br>
        <p class="leading-relaxed text-lg"> Email : {{about.email}} </p><br>
        <p class="leading-relaxed text-lg"> Phone number : {{about.phone_number}} </p><br>
        <span class="inline-block h-1 w-20 rounded bg-blue-500 mt-8 mb-6"></span>
        <p class="leading-relaxed text-lg"> Position : {{about.position}} </p>

      </div>
    </div>
  </section>

{% endblock content %}