{% extends 'base.html' %}
{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <h1 class="sm:text-4xl text-4xl font-medium title-font mb-2 text-gray-900">User</h1>
          
          
        <p class="leading-relaxed text-lg"> Email : elcinhuseynli78@gmail.com  </p><br>
        <p class="leading-relaxed text-lg"> Education : AzMIU  </p>
        <p class="leading-relaxed text-lg"> Faculty : MIT  </p>
        <p class="leading-relaxed text-lg"> Profession : IT  </p>
      
        

        </span></br>

          

          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Huseynli Elchin</h2>
        <p class="text-gray-500">Backend Developer</p>

      </div>
    </div>
  </section>

{% endblock content %}